<%= form_for @demo do |f| %>
  <div class="form-group">
    <%= f.text_area :description, class: "form-control", placeholder: "Ingresa el mensaje...", rows: 7 %>
  </div>
  <div>
    <%= f.submit 'Enviar Notificación', class: "btn btn-primary btn-block mb-3" %>
  </div>
<% end %>
