<%= render 'partials/navbar' %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-9 mt-5">
      <h3>La notificación fue enviada con éxito</h3>
      <%= link_to 'Regresar', demos_path, class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
</div>
